{% extends "base.html" %}
{% load static %}
<!DOCTYPE HTML>
<html>
{#<?#}
{#  include_once "header.html"#}
{#?>#}

{% block content %}
<body>
	<div id="bodywrap">
    <div class="wrapper">
      	<div id="top">        
        <div id="logo">
            <a href="/">
           	 <img id="logoimage" src="{% static 'images/new_logo2.png' %}" alt="logo">	<!-- Logo image -->
            <h1 id="logotitle">KU융합소프트웨어연구센터</h1>	<!-- Logo text --></a>
        </div><!--/logo-->
           <nav>
			<ul>
        <li><a href="{% url '1-1' %}">Introduction</a>
        	  <ul>
            	<li><a href="{% url '1-1' %}">Overview</a></li>
                <li><a href="{% url '1-2' %}">Team</a></li>
<!--                <li><a href="1-3.html">Strategies</a></li>
-->              </ul>
            </li>  
        <li><a href="{% url '2-1' %}" class="active">Business</a>
         	  <ul>
            	<li><a href="{% url '2-1' %}">ICT융합기술<br>R&D</a></li>
                <li><a href="{% url '2-2' %}">ICT융합<br>기술사업화</a></li>
                <li><a href="{% url '2-3' %}">서비스 인큐베이팅</a></li>
              </ul>
            </li>  
<!--
		<li onClick="alertShow();"><a href="#">Technology</a>
        	  <ul>
            	<li><a href="#">contents/media Technology</a></li>
                <li><a href="#">commerce technology</a></li>
                <li><a href="#">learning technology</a></li>
              </ul>
            </li>  
-->
<!--         <li><a href="#" onClick="alertShow();">Performance</a></li>   -->
        <li><a href="{% url '5-1' %}">Outlinks</a></li>
    </ul>  
    <a href="#" id="pull">Menu</a>  
</nav>
</div>
</div>
<section id="contents">
<div class="wrapper">
<!-- lnb -->
<ul class="lnb">
	<h4>business</h4>
	<li class="active"><a href="{% url '2-1' %}">ICT융합기술<br>R&D</a></li>
	<li><a href="{% url '2-2' %}">ICT융합<br>기술사업화</a></li>
	<li><a href="{% url '2-3' %}">서비스<br>인큐베이팅</a></li>
</ul>
<!-- //lnb -->
	<div id="subcontents1">
    	<h1>ICT<span>융합기술R&D</span></h1>
	<article class="subcontents">
    <div class="left">
        	<div class="number1"></div>
            <p>지속적으로 다양한 산업 분야와 접목될 수 있는 ICT기반 융합기술을 R&D하고 있습니다.</p></div>
       <div class="right"><div class="sub_img"><img src="{% static 'images/img_sub2-1.png' %}" style="max-width:470px;"></div></div>
          </article>
          <div class="clearfix"></div>
          <article class="subcontents">
          <div class="left">
        	<div class="number2"></div>
            <p>글로벌 기업들과 60여개의 ICT융합기술R&D 프로젝트를 수행하였습니다.</p></div>
            <div class="right"><div class="sub_img"><img src="{% static 'images/img_sub2-2.png' %}" style="max-width:470px;"></div></div>
          </article>
          <div class="clearfix"></div>
          <article class="subcontents">
          <div class="left">
        	<div class="number3"></div>
            <p>R&D 기술력과 조직력을 기반으로 온오프라인 융합 시스템 및 서비스의 컨설팅 업무를 수행하고 있습니다. </p></div>
       <div class="right"><div class="sub_img"><img src="{% static 'images/img_sub2-3.png' %}" style="max-width:470px;"></div></div>
          </article>
     </div>
    <div class="clearfix"></div></div>
             <div class="push"></div>
       </div>

{#<?#}
{#  include_once "footer.html"#}
{#?>#}
{% endblock %}
       
</body>
</html>
