{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="ICT 융합기술 R&D, ICT융합 기술사업화, 서비스 인큐베이팅">
	<script type="text/javascript" src="./scripts/jquery-1.10.2.js"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="./scripts/html5_shiv.js"></script><![endif]-->
	<script type="text/javascript" src="./scripts/modernizr.custom.86080.js"></script>
	<script type="text/javascript" src="./scripts/respond.min.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <center>Under construction</center>
</body>
</html>